.header {
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  display: flex;
  flex: 0 1 65px;

  &__toggle-all {
    border: 0;
    bottom: 100%;
    height: 60px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 100%;
    top: 0;
    width: 45px;

    &:checked ~ .header__label::before {
      color: #4d4d4d;
    }
  }

  &__label {
    left: 0;
    position: absolute;
    top: 0;
    width: 45px;
    z-index: -1;

    &::before {
      color: #e6e6e6;
      content: '❯';
      display: inline-block;
      font-size: 22px;
      padding: 10px 25px;
      transform: rotate(90deg) translate(10px, 10px);
      &:checked {
        color: #4d4d4d;
      }
    }
  }

  &__new-todo {
    background: rgba(0, 0, 0, 0.003);
    border: 0;
    flex: 1 1;
    font-size: 24px;
    margin-left: 50px;
    outline: 0;
    padding: 16px 16px 16px 0;
    width: 0;
  }
}
